@charset "UTF-8";
/* Основной контейнер и сетка */
.container {
  border-radius: 5px;
  background: #918D8D;
  width: 400px;
  height: 660px;
  gap: 10px;
  padding: 10px;
}

.grid-12 {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.grid-header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.grid-header .add-button {
  width: 30px;
  height: 30px;
  border: 0;
  position: relative;
  background: transparent;
  cursor: pointer;
}
.grid-header .add-button::before {
  content: "";
  display: block;
  height: 30px;
  margin: auto;
  background: url("../icons/plus.svg") center/contain no-repeat;
}
.grid-header .config-add {
  position: relative;
}
.grid-header .modal {
  display: none;
  position: absolute;
  z-index: 1000;
  translate: 20px -10px;
}
.grid-header.is-open .modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-header .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  font-size: 15px;
}
.grid-header .modal-content button {
  margin-top: 10px;
}

/*Главный блок*/
.grid-main {
  grid-column: 1/-1;
  grid-row: 2/12;
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 10px;
}
.grid-main .power-button {
  width: 150px;
  transform: translateY(-5px);
}

/*Карточка сервера (страны, название конфига, проверка скорости)*/
.server-card {
  position: relative;
  min-width: 350px;
  height: 350px;
}
.server-card .server-card-head {
  /*Хэддер карточки с кнопками и названием*/
  display: grid;
  grid-template-columns: 36px 1fr auto;
  align-items: center;
  gap: 10px;
}
.server-card .server-card__chevron {
  width: 30px;
  height: 30px;
  border: 0;
  position: relative;
  background: transparent;
  cursor: pointer;
}
.server-card.is-open .server-card__chevron::before {
  transform: rotate(0deg);
}
.server-card .server-card__chevron::before {
  content: "";
  display: block;
  height: 30px;
  margin: auto;
  background: url("../icons/chevron.svg") center/contain no-repeat;
  transform: rotate(180deg);
  transition: transform 0.15s ease;
}
.server-card .server-card__info {
  font-weight: 700;
  line-height: 1.1;
}
.server-card .server-card__subtitle {
  opacity: 0.7;
  font-size: 12px;
  margin-top: 4px;
}
.server-card .server-card__speed {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 6px;
  display: grid;
  place-items: center;
}
.server-card .server-card__speed img {
  width: 30px;
}
.server-card {
  /*Выпадающий список стран*/
}
.server-card .server-card__dropdown {
  display: none;
}
.server-card.is-open .server-card__dropdown {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  max-height: 350px;
}
.server-card.is-open .server-card__dropdown button {
  border: none;
  background: white;
  cursor: pointer;
}

/*Футер*/
.grid-footer {
  grid-column: 1/-1;
  grid-row: 12/13;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
