source/frontend/node_modules
source/frontend/dist
build/bin
node_modules
BlancVPN-SteamDeck-source-fixed.tar.gz
BlancVPN-SteamDeck-transfer.tar.gz
BlancVPN-SteamDeck.tar.gz
FIXES_SUMMARY.txt
RUN_INSTRUCTIONS.txt