$colors: (
"main_color": #918D8D,
);



$sizes: (
    "main_width": 400px,
    "main_height": 660px,
    "max-width": 380px,
    "countries_size": 350px,
    "icons_size": 30px,
    "power_button_size": 150px,
    "gap": 10px,
)