@use 'variables';


/* Основной контейнер и сетка */
.container { 
    border-radius: 5px;
    background: map-get(variables.$colors, "main_color");
    width: map-get(variables.$sizes, "main_width");
    height: map-get(variables.$sizes, "main_height");
    gap: map-get(variables.$sizes, "gap");
    padding: 10px;
}

.grid-12 {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.grid-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: map-get(variables.$sizes, "gap");


    .add-button {
      width: map-get(variables.$sizes, "icons_size");
      height: map-get(variables.$sizes, "icons_size");
      border: 0;
      position: relative;
      background: transparent;
      cursor: pointer;
    }

    .add-button::before {
      content: "";
      display: block;
      height: map-get(variables.$sizes, "icons_size");
      margin: auto;
      background: url("../icons/plus.svg") center/contain no-repeat;
    }
    .config-add {
      position: relative;
    }
    .modal {
      display: none;
      position: absolute;
      z-index: 1000;
      translate: 20px -10px;
    }

    &.is-open .modal {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      position: relative;
      font-size: 15px;
      button {
        margin-top: 10px;
      }
    }
}
/*Главный блок*/
.grid-main {
    grid-column: 1/ -1;
    grid-row: 2 / 12;

    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: map-get(variables.$sizes, "gap");
    .power-button {
        width: map-get(variables.$sizes, "power_button_size");
        transform: translateY(-5px);
    }
}



/*Карточка сервера (страны, название конфига, проверка скорости)*/
.server-card {
  position: relative;
   min-width: map-get(variables.$sizes, "countries_size");
   height: map-get(variables.$sizes, "countries_size");
          .server-card-head {
            /*Хэддер карточки с кнопками и названием*/
            display: grid;
            grid-template-columns: 36px 1fr auto;
            align-items: center;
            gap: map-get(variables.$sizes, "gap");
          }
                .server-card__chevron {
            width: map-get(variables.$sizes, "icons_size");
            height: map-get(variables.$sizes, "icons_size");
            border: 0;
            position: relative;
            background: transparent;
            cursor: pointer;
                }
                &.is-open .server-card__chevron::before {
                  transform: rotate(0deg);
                }

                .server-card__chevron::before {
                  content: "";
                  display: block;
                  height: map-get(variables.$sizes, "icons_size");
                  margin: auto;
                  background: url("../icons/chevron.svg") center/contain no-repeat;
                  transform: rotate(180deg);
                  transition: transform .15s ease;
              }
                .server-card__info {
                font-weight: 700;
                line-height: 1.1;
              }

              .server-card__subtitle {
                opacity: 0.7;
                font-size: 12px;
                margin-top: 4px;
              }


              .server-card__speed {
                border: 0;
                background: transparent;
                cursor: pointer;
                padding: 6px;
                display: grid;
                place-items: center;
                img {
                  width: map-get(variables.$sizes, "icons_size");
                }
              }
        
      /*Выпадающий список стран*/
      .server-card__dropdown {
        display:none;
        
      }
      &.is-open .server-card__dropdown {
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          gap: map-get(variables.$sizes, "gap");   
          max-height: map-get(variables.$sizes, "countries_size");
          button {
            border: none;
            background: white;
            cursor: pointer;
          }
      }
}

/*Футер*/
.grid-footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
    display: flex;
    align-items: center;
    justify-content: center;
}