@use 'variables';



.container { 
    border-radius: 5px;
    background: map-get(variables.$colors, "main_color");
    width: map-get(variables.$sizes, "main_width");
    height: map-get(variables.$sizes, "main_height");
    gap: 10px;
    padding: 10px;
}

.grid-12 {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.grid-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    img{
        width: map-get(variables.$sizes, "icons_header_size");
    }
}

.grid-main {
    grid-column: 1/ -1;
    grid-row: 2 / 12;

    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 18px;
    .power-button {
        width: map-get(variables.$sizes, "power_button_size");
        transform: translateY(-100px);
    }
}

.server-card-head {
    transform: translateY(-50px);
    display: grid;
    grid-template-columns: 36px 1fr auto;
    align-items: center;
    gap: 10px;
}


.server-card__chevron {
    width: 30px;
    height: 30px;
    border: 0;
    position: relative;
    background: transparent;
    cursor: pointer;
}

.server-card__chevron::before {
  content: "";
  display: block;
  width: map-get(variables.$sizes, "icons_header_size");
  height: map-get(variables.$sizes, "icons_header_size");
  margin: auto;
  background: url("../icons/chevron.svg") center/contain no-repeat;
  transform: rotate(0deg);
  transition: transform .15s ease;
}

.server-card.is-open .server-card__chevron::before {
  transform: rotate(180deg);
}

.server-card__title {
  font-weight: 700;
  line-height: 1.1;
}

.server-card__subtitle {
  opacity: 0.7;
  font-size: 12px;
  margin-top: 4px;
}


.server-card__speed {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 6px;
  display: grid;
  place-items: center;
  img {
    width: map-get(variables.$sizes, "icons_header_size");
  }
}

.country_select {
    width: min(520px, 90%);
}

.grid-footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
    display: flex;
    align-items: center;
    justify-content: center;
}