@use 'variables';
@use 'mixins';

/* Основной контейнер и сетка */
.container { 
    border: map-get(variables.$sizes, "border-1") solid map-get(variables.$colors, "border");
    border-radius: map-get(variables.$sizes, "radius-lg");
    
    font-family: map-get(variables.$text, "font-family");
    font-size: map-get(variables.$text, "body-size");
    background-image: linear-gradient(to bottom right, map-get(variables.$colors, "bg"), map-get(variables.$colors, "bg-gradient-2") );
    color: map-get(variables.$colors, "text");
    width: map-get(variables.$sizes, "main_width");
    height: map-get(variables.$sizes, "main_height");
    gap: map-get(variables.$sizes, "space-1");
    padding: map-get(variables.$sizes, "space-2");
}
.icon-btn {
      @include mixins.icon-btn();
      @include mixins.icon-before();

      --icon: none;
    }

.icon-btn--plus { --icon: url("../icons/plus.svg"); }
.icon-btn--speed   { --icon: url("../icons/speed.svg"); }
.icon-btn--chevron { --icon: url("../icons/chevron.svg"); }
.icon-btn--chevron::before {
                  transform: rotate(0deg);
                  transition: transform .15s ease;
                }
.grid-12 {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

.grid-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: map-get(variables.$sizes, "space-1");

    .config-add {
      position: relative;
    }
    .popover {
      
      display: none;
      position: absolute;
      z-index: 1000;
      translate: 20px -10px;
      
    }

    &.is-open .popover {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .popover__content {
      @include mixins.glass-card;
      padding: map-get(variables.$sizes, "space-3");
      position: relative;
      font-size: map-get(variables.$text, "regular-font-size");
      button {
        @include mixins.btn-base;
        width: 100%;
        margin-top: map-get(variables.$sizes, "space-2");
      }      
    }
}






/*Главный блок*/
.grid-main {
    grid-column: 1/ -1;
    grid-row: 2 / 12;

    display: grid;
    justify-items: center;
    align-content: center;
    gap: map-get(variables.$sizes, "space-1");
    
    .power-button {
        @include mixins.icon-btn(map-get(variables.$sizes, "power_button_size"));
        @include mixins.icon-before(map-get(variables.$sizes, "power_button_size"));
        --icon: url("../icons/power_button.svg");
        transform: translateY(- map-get(variables.$sizes, "space-3"));
    } 
}



/*Карточка сервера (страны, название конфига, проверка скорости)*/
.server-card {
   @include mixins.glass-card;
   position: relative;
   min-width: map-get(variables.$sizes, "countries_size");
   height: map-get(variables.$sizes, "card-size");
          .server-card-head {
            /*Хэддер карточки с кнопками и названием*/
            border-top-left-radius: map-get(variables.$sizes, "radius-lg" );
            border-top-right-radius: map-get(variables.$sizes, "radius-lg" );
            background-color: map-get(variables.$colors, "bg-button");
            padding: 0 map-get(variables.$sizes, "space-3" ) 0 0;
            display: grid;
            grid-template-columns: 36px 1fr auto;
            align-items: center;
            gap: map-get(variables.$sizes, "space-1");
          }
                
                &.is-open .icon-btn--chevron::before {
                  transform: rotate(180deg);
                }

                .server-card__info {
                font-weight: map-get(variables.$text, "bold-font-weight");
                line-height: map-get(variables.$text, "regular-line-height");
                font-size: map-get(variables.$text, "title-size");
              }

              .server-card__subtitle {
                opacity: map-get(variables.$sizes, "opacity-muted");
                font-size: map-get(variables.$text, "small-size");
              }


              
        
      /*Выпадающий список стран*/
      .server-card__dropdown {
        display:none;
        
      }
      &.is-open .server-card__dropdown {
          display: flex;
          flex-direction: column;
          overflow-y: auto;   
          max-height: map-get(variables.$sizes, "countries_size");
          button {
            @include mixins.btn-base;
            margin: map-get(variables.$sizes, "space-1" );
          }
          button.selected{
            background-color: map-get(variables.$colors, "accent");
          }
      }
}

/*Футер*/
.grid-footer {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
    display: flex;
    align-items: center;
    justify-content: center;
}